<!DOCTYPE html>
<!-- Thymeleaf namespace should be added for template
processing -->
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/fragments/general.html :: headerFiles}"> </head>
	<header th:insert="~{/fragments/general.html :: header}"> </header>

	<body>
		
	<table>
	<tr>

	<th>productCode</th>
	<th>productBrand</th>
	<th>quantity</th>
	<th>productPrice</th>
	<th> DELETE </th>
	</tr>
	<tr th:each="aProduct:${products}">
	<td th:text="${aProduct.productCode}"></td>
	<td th:text="${aProduct.productBrand}"></td>
	<td th:text="${aProduct.quantity}"></td>
	<td th:text="${aProduct.productPrice}"></td>
	<td> <a th:href="@{/deleteProductData/}+${aProduct.getId()}">
	DELETE</a> </td>
	</tr>
	</table>

	
		
		<div th:replace="~{/fragments/general.html :: footer}"> </div>
	</body>
</html>