<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- Thymeleaf fragment "headerFiles" definition -->
	<head th:fragment="headerFiles">
		<meta charset="UTF-8" />
		<link th:href="@{/styles/main.css}" rel="stylesheet">
		<title> Assignment 3 </title>
	</head>
	
	<body>
		<!-- Thymeleaf fragment "header" definition -->
		<div th:fragment="header">
		<h1>Product Catalog Management Application</h1>
		</div>
	
		<!-- Thymeleaf fragment "footer" definition -->
		<footer th:fragment="footer">
		<p> ---------------------------------------------------------- </p>
			<a href="/index">Home</a>
		  <p>Student Name: Vuong Quoc Nguyen </p>
		  <p>Student Number: 991698575</p>
		</footer>
	</body>
		
</html>